<div class="row">
    <div class="col-md-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Recipe Name: {{ recipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="button-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddingToShoppingList()" style="cursor: pointer;">Add Ingredient to Shopping List</a></li>
                <li><a (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe()" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <b>Description :</b> {{ recipe.description }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <b>Ingredients :</b><br>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }} units
            </li>
        </ul>
    </div>
</div>